.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.center {
    justify-content: center;
}
.start { 
    justify-content: flex-start;
}
.space-around {
    justify-content: space-around;
}