@media (max-width: 992px) {

}

/* Małe urządzenia */
@media (max-width: 576px) {

}

/* Telefony */
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .content,
    .sidebar {
        width 100%;
    }
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
}

/* Tablety i duże telefony */
@media (max-width: 768px) {

}

/* Małe ekrany i laptopy */
@media (min-width: 992px) {

}

/* Dla dużego desktopa lub TV */
@media (min-width: 1200px) {

}