/*małe urządzenia*/
@media (max-width: 576px) {}

/*telefony*/
@media (min-width: 576px) {}

/*telefony*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content,
    .sidebar {
        width: 100%;
    }

    .mobile {
        display: flex;
    }

    desktop {
        display: none;
    }
}

/*tablety i duże telefony*/
@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}

/*małe ekrany i laptopy*/
@media (min-width: 992px) {}

/*duży desktop lub tv*/
@media (min-width: 1200px) {}