html {
    font-size: 100%;
}
@media (max-width: 1024px) {
    html {
        font-size: 60%;
    }
}
p {
    font-size: 1rem;
}
h1 {
    font-weight: 900;
    /* font-size: 30px; 30/16 = 1,875 */
    font-size: 1.875rem;

}
h2 {
    font-weight: 700;
    font-size: 1.5rem;
    /* font-size: 24px; 24/16 = 1,5 */
}
h3 { 

}
h4 {

}
h5 {

}
h6 {

}
h1,h2,h3,h4,h5,h6 {

}