@import url(css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(css/fonts.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import url(css/typography.css);
@import url(css/grid.css);
@import url(css/custom.css);
@import url(css/rwd.css);

body {
   

}
div.kwadrat {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: red;
}
span.kwadrat {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px;
    background-color: red;
} 